#modclubs {
    top: 150px;
    right: 0;
    position: fixed;
    z-index: 9999;
}

#modclubs .btn-clubs {
    display: table;
    text-decoration: none;
}

@media only screen and (max-width: 1400px) {
    #modclubs .btn-clubs img {
        height: 100px;
    }
}